* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 30px 0;
  font-size: 40px;  
  color: rgb(99, 30, 33);
  font-family:Georgia, 'Times New Roman', Times, serif
}

body {
  font-family: sans-serif;
  background-color: #f7e5429b;
}

form {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  gap: 5px
}

input {
  flex: 0.8;
  padding: 5px;
  font-size: 15px;
}

button {
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
}

#movie-results {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  margin: 30px;
}

#movie-results div {
  border: 3px solid #caba05a4;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#movie-results div:hover {
  transform: scale(0.95);
}

#movie-results img {
  width: 200px;
}

#movie-results p {
  margin: 5px 0;
  color: rgba(152, 87, 7, 0.528);
  font-size: 17px;
}

#movie-results h2 {
  color: rgb(120, 107, 11);
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

#movie-details {
  margin: 30px;
}

#details-content {
  display: flex;
  gap: 30px;
  margin: 30px 0;
}

#details-content img {
  width: 300px;
  border-radius: 12px;
}

#details-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 18px;
}